* {
  font-family: "Montserrat", sans-serif;
  color: #cedfe4;
}

.container {
    margin: 0 auto; /*внешние отступы по центру*/
    width: 70vw;
}
header {
    height: 60px;
    background: #bb07071c;
    position:fixed;
    z-index: 2;
    width: 100%;
    top:0;
}
body {

    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
html {
    font-size: 20px;
}


h1 {
    width: 90%;
    font-size: 3rem;
    line-height: 100%;
    padding:150px 0
}
p {
    line-height: 140%;
}

h2 {
    font-size: 2.2rem;
    color: #dd117e;
    position: sticky;
    top:10px;
    background:#0000004d
    

}

h2 + p a:visited{
    color:#0a151a;
}
/*псевдоклассы*/


h2:hover {
    color: rgb(229, 14, 114);
}

a:visited {
    color: #07bb1f;
}

figure figcaption, figure a, figure a:visited {
    color:#23414e;
    font-size:0.5rem;
}
.zayavka label, fieldset label, select, input, textarea {
    display: block;
}

.zayavka input, textarea, select, fieldset {
    margin-bottom: 15px;
}

fieldset input {
    display: inline;
}

.logic-block {
    padding: 100px 0;
}

.zayavka input, textarea, select {
    font-size: 1.1rem;
    color:#0a151a;
}
.zayavka textarea {
    width: 90%;
    padding: 10px 25px;
}
input:required {
    border: 2px solid red;
}
.zayavka input {
    border-radius: 10px 10px 10px 10px;
}
.zayavka input:invalid {
    border: 2px solid rgb(250, 23, 23);
}

.zayavka fieldset {
    border: 0;
}

#vac ul {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#vac ul li, button {
    font-size: 1.5rem;
    background: rgb(18, 169, 189);
    display: inline-block;
    padding: 20px 30px;
    margin: 0px 10px 10px 0px;
    border-radius: 40px;
    color:#14252c;
    background: #ececec;
}
#vac ul li:not(.active) {
    opacity: 0.2;
}
#vac ul li:nth-child(2n) {
    background: rgb(18, 169, 189);
}
button {
    background: linear-gradient(265.71deg,  rgba(229, 14, 114, 0.743) 1.44%,  rgba(81, 5, 40, 0.737) 77.83%), rgb(55, 0, 89, 0);

;
    color:#fff;
    transition: color .4s, background-color 1s, box-shadow 1s;
}
button:hover {
    color:  rgb(229, 14, 114);
    background: #fff;
    box-shadow: 0px 4px 33px #FFFFFF;
}

button:active {
    scale: 0.9;
    border: none;
    color: #fff;
    background: gray;
}
.main-title strong {
    font-weight: 400;
    color: rgb(229, 14, 114);
}
.big-table {
    font-weight: 600;
    padding:15px;
}
.big-table td {
    text-align: center;
    padding: 15px;   
}

.big-table tr:nth-child(2n) {
    background: rgb(18, 169, 189);
}

.big-table tr:nth-child(2n) td:last-child {
    border-radius: 0 30px 30px 0;
}

.big-table tr:nth-child(2n) th {
    border-radius: 30px 0 0 30px;
    color:#14252c;
}
.big-table tr:nth-child(2n) td {
    color:#14252c;
}
#it-figure {
    position:absolute;
    right:0;
    top: 5%;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-list {
    display: flex;
}
.nav-list li {
    list-style-type: none;
    margin: 10px;
}
footer {
    background: #bb07071c;
}

footer .row {
    display: flex;
}
.footer-text {
    flex-basis: 40vw;
    font-size: 0.7rem;

}
@media screen and (max-width: 1280px) {
    #vac ul {
        width: 100%;
    }  
    h1 {
        padding: 150px 0 50px;
    }
    #it-figure {
        position: static;
    }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .container {
        width: 90vw;
    }
}
@media screen and (min-width: 375px) and (max-width: 768px) {
    .container {
        width: 99vw;
    }

    h2 {
        padding: 10px 0 10px 0px;
        whidth: 99vw;
    }
    .big-table {
        overflow: auto;
    }

}